/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

.back-home-box {
    max-width: 95%;
    text-align: right;
}

.back-home-text {
    text-decoration: underline;
}